<div class="container-fluid" id="container_fluid_top">
  <h1 id="main_title">WILD PLANT ID</h1>
</div>

<nav class="navbar navbar-inverse" style="border-radius:0;" data-offset-top="400">
  <ul class="nav navbar-nav" >
    <li class="active"><a href="/pages/home">Home</a></li>
    <li><a href="/pages/mission">Mission</a></li>
    <li><a href="/pages/specifications">Specifications</a></li>
    <li><a href="/pages/basic_functions">Basic Functions</a></li>
    <li><a href="/pages/prototype">Prototype</a></li>
    <li><a href="/pages/make_your_own_app">Make Your Own App</a></li>
  </ul>
</nav>
