<div class="well col-md-2 sidenav">
  <p class="lead">Relevant Links:</p>
  <p><a href="http://www.nanps.org">North American Native Plant Society (NANPS)</a></p>
  <p><a href="http://www.nativeplantsocietyneo.org/">Native Plant Society Of Northeastern Ohio (NPSNEO)</a></p>
  <p><a href="http://www.euclidcreekwatershed.org">Friends Of Euclid Creek (FOEC) </a></p>
  <p><a href="http://www.westcreek.org/">West Creek Conservancy </a></p>
  <p><a href="http://www.geaugaparkdistrict.org/">Geauga Park District </a></p>
</div>
