<%= javascript_include_tag 'application' %>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  -->
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
      position: absolute;
      margin-top: 3000;
      left: 0;
      width: 100%;
    }

    #forest_panorama
    {
      width:125%;
      height:400px;
      margin-left:-150px;
    }

    #main_title
    { color:white;
      font-size: 4em;
      text-align:center;
      margin-top: -330px;
      margin-bottom: 280px;
      text-shadow: 3px 3px 10px black;
    }

    #topnavbar {
        margin: 0;
    }
    #topnavbar.affix {
        position: fixed;
        top: 0;
        width: 100%;
    }
   /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
  </style>
</head>
<body>


<div class="container" id="banner">
  <div class="row">
      <%= image_tag 'wild_plant_id_banner_full_size.jpg', :id => 'forest_panorama' %>
  </div>
</div>

<nav class="navbar navbar-inverse" id="topnavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="#">Logo</a>-->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-8 text-justify">
      <h1 id="main_title">WILD PLANT ID</h1>
      <h1>Welcome</h1>
      <p>
      Traditionally, there have been three ways to learn how to correctly identify plants
      in the wild. Each way had its own advantages and disadvantages.
      </p>

      <p>
      Having an expert guide or naturalist available to identify plants is probably the
      easiest way; but today it can be difficult to find such a leader who is available
      both where and when you want one. Experts frequently tend to use the more confusing
      technical words which can be hard to follow.
      </p>

      <p>
      Formal classroom instructions is another way to learn how to correctly identify
      plants. But classes in local flora (how to identify plants found in the wild locally)
      are hard to find, infrequently scheduled and often expensive. They can involve months
      of classroom work and many field trips. This type of instruction also typically
      requires learning a large number of technical terms many of which are not easily
      remember unless they are used frequently.
      </p>

      <p>
      Printed field guides from reputable sources such as The Audubon Society, National
      Geographic, The National Wildlife Federation and Peterson have provided a good solution
      to the problems with expert guides and classroom instruction.  These are affordable
      and easier to use than the plant manuals used by professional botanists; but they
      have their problems too.  While they are relatively light weight they are bulky and
      do not readily fit into normal sized pockets.  In addition, you usually need three
      or more guides if you want to identify Wildflowers, ferns and trees which adds to
      the bulk and weight you need to carry. Their biggest drawback is that they are not
      comprehensive.  In their effort to help identify the greatest number of "common"
      plants in too broad an area such as "Eastern North America" they have had to exclude
      a large number of plants that are "less than common" even though those "less than
      common" plants may be common where you are.
      </p>

      <p>
      At Wild Plant ID we are working to develop an app for smartphones which we believe
      will overcome these difficulties in identifying wild plants.  We hope you will explore
      the rest of our website to see how we plan to accomplish this goal.
      </p>

    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>
