<%= render 'head' %>
<body>
<%= render 'header' %>
<div class="container-fluid" style="height:1000px">

    <%= render 'sidebar' %>

    <div class="col-md-8 text-justify">
      <h1 style="font-size: 4em;">Website Credits</h1>
        <p class="lead">This website was designed and developed by
          <a style="font-size:26px;" href="http://eratosthenes.github.io/resume/">Nathan Rapport</a>.</p>
        <p>The original Wild Plant ID website was designed and developed by Excel T.E.C.C. ITP,
          Robbie Lipp & Sam Keiper, Mr. Ron Suchy, Instructor.</p>
    </div>
</div>

<%= render 'footer' %>
</body>
